<h1>ログイン</h1>

<%= form_tag login_path do %>
  <div class="field">
    <%= label_tag "ログインID" %>
    <%= text_field_tag :login, params[:login] %>
  </div>
  <div class="field">
    <%= label_tag "パスワード" %>
    <%= password_field_tag :password %>
  </div>
  <div class="actions">
    <%= submit_tag "ログイン" %>
  </div>
<% end %>
